.active1
{
    background-color: yellow;
}

.blue
{
   background-color: #d3712f;
   border: 2px solid #000; 
}

.image
{
   margin: 16px 0;
   padding: 1px 3px;
   text-align: center;
   border-radius: 30px;
}

.scaleimg
{
   display: block;
   margin: auto;
   max-width: 30%; 
   height: auto;
   border-radius: 30px;
}

.pictureme_img
{
    float: right;
   max-width: 35%; 
   height: auto;
}
.about_me_text
{
   float: right; 
   margin-right: 20px;
   font-size: 24px;
   clear: right;
}

.gif
{
   display: block;
   margin: auto;
   max-width: 40%; 
   height: auto;
   border-radius: 30px;
}

.text1
{
   text-align: center;
   color: white;
   margin: 20px;
   font-size: 40px;
}

.text2
{
    text-align: right;
    font-size: 40px;
}
.text3
{
    text-align: center;
    color: white;
    font-size: 40px;
}

.text4
{
    text-align: left;
    color: white;
    font-size: 40px;
}
.text5
{
    color: white;
    font-size: 30px;
}
.text6
{
    color: white;
    font-size: 30px;
    text-align: left;
}

.pictureme1
{
   text-align: center;
   font-size: 30px;
   margin-bottom: 45px;
}

.font
{
   font-size: 40px;
}

.bkcl
{
   background-color: rgb(96, 185, 219);
}

.nav-link 
{
   color: white;
}

.nav-link:hover 
{
   color: rgb(65, 65, 65);
}

.nav-link.active1 
{
   color: #5c5b5b;
}

.positionfixed
{
   position: fixed;
   top: 0;
   z-index: 1000;
   padding: 0px;
   margin: 0 auto;
}

.back1
{
   border-color: aqua;
}

a{
    color: rgb(56, 56, 56);
}

.hilighted-word{
    color: brown;
}

li:target{
    color: rgb(252, 229, 165);
    scroll-margin-top: 50px;
}
.positionfixed{
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 0px;
}